<div class="container p-4">
    <form action="/main/posted" method="POST">
        <div class="form-group">
            <label for="InputTitle">Titulo de la pregunta</label>
            <input type="text" class="form-control" id="InputTitle" placeholder="Titulo de la pregunta" maxlength="100"
                name="titulos">
        </div>
        <!--<div class="form-group">
            <label for="InputLabel">Etiqueta 1</label>
            <input required class="form-control"  type="text" placeholder="etiqueta" max="400" name="etiqueta">
        </div>-->
        <div class="form-group">
            <label for="InputLabel">Etiqueta el lenguaje de la pregunta</label>
            <select class="form-control" id="InputLabel" name="etiqueta1">
                <option>Java</option>
                <option>Python</option>
                <option>JavaScript</option>
                <option>C#</option>
                <option>Typescript</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Escoge una palabra clave o etiqueta para asociar el lenguaje</label>
            <textarea class="form-control" name="etiqueta2" id="exampleFormControlSelect2" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea required class="form-control" id="" cols="30" rows="10" name="texto" maxlength="4000"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Generar pregunta</button>
    </form>
</div>