<div class="container p-4">
    <div class="container p-4">
        <form id="FormSignup" action="/aut/signup" method="POST" enctype="multipart/form-data">
            <div class="container p-4">
                <div class="form-group">
                    <label for="inputCed">Cedula o identificador</label>
                    <input required type="text" class="form-control" id="inputCed"
                         name="credencials">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNombre">Nombres</label>
                        <input required type="text" class="form-control" id="inputNombre" name="name" autofocus>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputApellido">Apellidos</label>
                        <input required type="text" class="form-control" id="inputApellido" name="lname">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input required type="email" class="form-control" id="inputEmail" name="email" name="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputFoto">Imagen</label>
                        <div class="custom-file">
                            <input required type="file" class="custom-file-input" id="inputGroupFile03"
                                aria-describedby="inputGroupFileAddon03" name="image">
                            <label class="custom-file-label" for="inputGroupFile03">Selecciona la imagen</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    
                    <div class="form-group col-md-12">
                        <label for="inputOcupation">Ocupación</label>
                        <select id="inputOcupation" class="form-control" name="ocupation">
                            <option selected>Estudiante de ingeniería</option>
                            <option>Profesional de desarrollo</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputUser">Usuario</label>
                        <input required type="text" class="form-control" id="inputUser" name="user">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPass">Contraseña</label>
                        <input required type="password" class="form-control" id="inputPass" name="password">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPass2">Vuelva a ingresar la contraseña</label>
                        <input required type="password" class="form-control" id="inputPass2" name="password2">
                    </div>
                </div>
                
                
            </div>
            <button type="submit" id="BtnSubmitForm" class="btn btn-success">Registrar</button>
        </form>


    </div>
</div>